<div class='mb-4 border-bottom pb-3 row'>
  <div class='col-10'>
      <h4 class="text-body-secondary h4">
        {{jobs['Title']}}
      </h4>
      <div>
        Location:<b>{{jobs['Location']}}</b>
      </div>
      {%if 'Company' in jobs%}
        <div>Employer: <b>{{jobs['Company']}}</b></div>
      {%endif%}
  </div>
  <div class='col-2'>
    <a href='mailto:kelvnjogu@gmail.com?subject=JOB%20APPLICATION%20FOR%20{{job['Title']}}%20POSITION&body=Please%20share%20below%3A%0D%0A1.Your%20name%3A%20%3Center%20your%20name%3E%0D%0A2.Your%20resume%20link%3A%20%3Cshare%20your%20link%3E%0D%0A3.Your%20LinkedIn%20link%3A%20%3Cshare%20your%20link%3E'type="button" class="btn btn-primary">Apply</a>    
  </div>
</div>