<nav class="navbar navbar-expand-lg bg-body-tertiary shadow-sm fixed-top bg-white">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">TOP JOBS</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="https://a-level-bank-jobs.onrender.com/">Home</a>
        <a class="nav-link", href="https://www.google.com/search?q=latest+bank+jobs+in+nairobi&oq=latest+bank+jobs+in+nairobi&aqs=chrome..69i57j33i160l2j33i22i29i30.10384j0j7&sourceid=chrome&ie=UTF-8&ibp=htl;jobs&sa=X&ved=2ahUKEwjl2tux2ceAAxXTXaQEHb4GBoMQudcGKAF6BAgNECo&sxsrf=AB5stBiQNsclwUB82Kz4Hql-8oLOQjKo0Q:1691313396712#htivrt=jobs&htidocid=Eyh75uBYHo8AAAAAAAAAAA%3D%3D&fpstate=tldetail", target='_blank'>Latest</a>
        <a class="nav-link" href="#">Closing Soon</a>
      </div>
    </div>
  </div>
</nav>
<div style='height:56px'></div>